/* change navs when screen gets smaller */
@media screen and (max-width: 1000px) {
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
    }
    .forage-friendzy{
        display: block;
    }
    .puzzlegeist{
        display: block;
    }
    .the-wild-return{
        display: block;
    }
}